body,
html {
    height: 100%;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a, i{
    display: block;
    text-decoration: none;
    font-size: small;   
    cursor: pointer; 
}
.h1-message {
    position: absolute;    
    font-size: 8px;
    color: mintcream;
    padding: 20px;
    font-weight: lighter;
    
}
@media screen and (max-width: 400px){
      #welcome-user, 
    #guest-user{
        padding: 60px 30px;
        margin-top: -60px;
        margin-right: -30px;
      /*  background-color: hsl(225, 3%, 49%);       
       background-image: linear-gradient(white 5%, black);*/
       background-color: cornsilk;
       background-image: url('../images/my-icons-collection (1)/svg/filharmonija.svg');
       background-repeat: no-repeat;
       background-size: contain;
       background-position-y: center;
       color: navy;
       font-weight: bold;
       height: 750px;
       width: 100%;
    }
    #guest-user{
        background-image: url('../images/pencil.svg');
    }
  }
