nav{
    background-color: navy;
    display: flex;
    flex-direction: row;    
    padding: 20px 100px; 
    justify-content: space-between;  
}

#logo img{
    width: 60px;  
   border-radius: 50%;
   border: goldenrod 2px solid;
 }
 nav a{
     color: honeydew;
     font-size: 1rem;
     padding: 10px;
 }
 nav a:hover{
     transform: scale(1.1);
     color: goldenrod;
 }
 .nav-bg{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
}

 @media screen and (max-width:800px){
    nav{
        padding: 20px 20px ;
    }
    .flex-row.card{
       padding: 20px;
    }
    nav a{
        font-size: 0.8rem;
    }
 }