
body{
    background-color: navy;
}
#eshop-navigation{
    background-color: navy;
}
h2{
    color: mintcream;
    text-align: center;
    padding: 20px;
}
.scene{
    width: 17%;
}
.scene:last-of-type{
    width: 40%;
}
#shops div, 
#scenes div {
    color: mintcream;    
    text-align: center;    
}
#shops div:hover,
#scenes div:hover{
    color: goldenrod;
}
#shops, 
#scenes,
#search-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
#search-filter{
    padding-bottom: 30px;
    padding-top: 15px;
    padding-left: 10px;
    justify-content: stretch;
}
#search-filter div{
    text-align: left;
}
.filter-img{
    height: 30px;
    margin-bottom: -10px;
    margin-left: 10px;
}
.filter-box input[type="text"] {
    width: 200px;
    height: 20px;    
}
.filter-box{
    margin: 0px 20px;
}
#filter-scene{    
    display: flex;
    flex-direction: column;
   padding: 0px 10px;
}
hr{
    margin: 10px;
    color: aquamarine;
}

#search-filter h3{
    font-size: 16px;
    font-weight: lighter;
    color: mintcream;
    margin: 7px 0px 13px 0px;
}
.shops-img,
.scene-img {
    width: 120px;
    height: 120px;
    margin: 10px;
}
.shops-img:hover,
.scene-img {
    transform: scale(1.1);    
}
.open-store {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    /*background-image: radial-gradient(white, goldenrod);*/
    background-color: mintcream;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    margin: auto;
}
.items-img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
    border-radius: 15px;
}
.items-text{
    text-align: left;
}
.items-name,
.items-author,
.items-scene,
.items-price,
.items-date,
.items-stock{
    font-size: 12px;
    text-transform: capitalize;    
}
.items-name{
    color: navy;
    font-weight: bold;
}
p{
    padding: 3px;
    font-size: 14px;
}
.item-card{
    height: 200px;
    width: 390px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:40px  20px;
}
span{
    font-weight: bold;
}
 input{
    width: 15px;
    height: 15px;  
    font-size: 15px;
    border: 0px;
    text-align: center;
}
.items-quantity-button{
    height: 24px;
    padding: 0px 3px;
    margin: 0px 3px;
    background-color: navy;
    color: white;
}
.items-quantity-button:hover{
    /*background-color: rgb(212, 200, 170);*/
    background-color: goldenrod;
}
input[type = "number"]{
    width: 50px;
    height: 25px;
}
.arrow-img{
    width: 20px;
    height: 15px;
    padding: 2px 7px;
}
#korpa {
    flex-wrap: wrap;
}
#sale-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.button {
    border: 0cm;
    padding: 20px;
    text-decoration: none;
    width: 200px;
    height: 50px;
    margin: 5px;
}
.button :hover,
#sale-buttons :hover, a :hover {
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}
#active-store,
#active-scene,
#active-search, 
#quantity{
    color: white;
    padding: 5px;
    font-size: 0.67rem;
}
@media screen and (max-width: 800px){    
    nav{
        padding: 0px 10px;
    }
    .scene{
        width: 17%;
    }
    .scene:last-of-type{
        width: 42%;
    }
    #shops,
    #scenes,
    #search-filter{
        padding: 0px;
    }
    #search-filter{
        width: 100%;
        padding-left: 15px;
    }
    .shops,
    .scene{
       margin: 10px 20px;
    }
    #shops div,
    #scene div{
        padding: 0px;
    }
    .shops-img,
    .scene-img{
        width: 60px;
        height: 60px;
        margin: 10px 15px;
    }
    h4,
    #search-filter h3{
        font-size: 12px;        
        font-weight: bold;
    }
    h2{
        font-weight: lighter;
    }
    #search-filter{
        justify-content: stretch; 
    }
    .filter-box{
        padding: 0px 10px;
        margin: 0px;
    }
    .button{        
        height: 40px;
        padding: 15px;
    }
    .items-img{
        width: 130px;
        height: 130px;
    }
    .item-card{
        margin: 20px 10px;
        height: 130px;
        width: 320px;
    }
    p{
        font-size: 12px;
    }
    .items-quantity-button{
        height: 19px;        
    }
    .arrow-img{
        width: 20px;
        height: 10px;
        padding: 2px 7px;
    }
    
  }
  @media screen and (max-width: 550px){
    .scene{
        width: 35%;
    }
    .scene:last-of-type{
        width: 100%;
    }
    .button{
        height: 30px;
        padding: 7px;
    }

  }
  @media screen and (max-width: 400px){
      
    #welcome-user{
       background-image: url('../images/search.svg');
    }
    #guest-user{
        background-image: url('../images/pencil.svg');
    }
  }