<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Tatjana Markovic, tanja120a@gmail.com">
    <meta name="description" content="Responsive Shopping card made by using technique 
    Vanilla JavaScript, HTML, CSS, Sass, jQuery, session storage and local storage. 
    If you want to try shopping card go to E-shop.
    Role: 1. Admin - Sign In - username: admin@admin.com, password: admin,
    Admin have possibility to sell tickets for performances and to make entry for new performances.
    2. User: If you want to Sing In E-shop , you have tu Sign Up or use default values 
    - Sign In - username: user@user.com, password: user. User only have possibility to by tickets for 
    performances.">
    <meta name="copyright" content="Tatjana Markovic" >
    <meta name="owner" content="Tatjana Markovic">
    <meta name="url" content="https://www.tatjama.github.io/e-ticket">
    <meta name="subject" content="Shopping card for performances, ballet, opera, drama and orchestra"/>
   
    <title>Prodaja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/navigationEShop.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../style/sale.css"/>
    <link rel="icon" href="../images/drama6.jpg" type="image/jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body onload="user()">   
    <div id="sale-navigation"> 
        <nav class="flex-row">
            <div id="logo">
                <a href="../index.html">
                    <img class="nav-img-logo" src="../images/drama6.jpg">
                </a>
            </div>
            <div class="nav-bg" >
                <a class="lang langAtt" key="entry" title='Link to  tickets entry...'  href="./entry.html">Entry</a> 
                <a id="signOut"  href="../index.html" onclick="signOutEshop('shops')">Sign Out</a>    
            </div>
        </nav>
        <div id="sale-container" ></div> 
        <h2 class="lang" key="shop" id="sale-header">E-shop</h2>        
        <div id="sale-buttons">
            <button type="button" class="button" id="filter-button" onclick="doFilter()">
                <a href="#" class="lang" key="filter">Filter</a>
            </button>
            <br>
            <button type="reset" class="button" id="clear-button" onclick = "removeAllFilters()">
                <a href="#" class="lang" key="clear">Clear</a>
            </button>
            <br>            
            <button type="button" class="button" id="reservation-button">
                <a href="./saleCard.html" class="lang" key="cart">Cart </a>
            </button><br>
            <button type="button" class="button" id="reservation" onclick = "makeNewReservation()">
                <a href="#" class="lang" key="reserve" > Reserve </a>
            </button><br>
                        
        </div>  
        <p id="quantity"></p>      
    </div>
    <div id="sale-message"></div>
    <div class="open-store" id="open-store"></div>
    <div>
        <span id="active-store"></span>
        <span id="active-scene"></span>
        <span id="active-search"></span>
    </div>

    <script src="../js/sale.js"></script>
    <script src = "../js/signout.js"></script>
    <script src="../js/session.js"></script>
    <script src="../js/multiLanguage.js"></script>
</body>

</html>