<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Tatjana Markovic, tanja120a@gmail.com">
    <meta name="description" content="Responsive Shopping card made by using technique 
    Vanilla JavaScript, HTML, CSS, Sass, jQuery, session storage and local storage. 
    If you want to try shopping card go to E-shop.
    Role: 1. Admin - Sign In - username: admin@admin.com, password: admin,
    Admin have possibility to sell tickets for performances and to make entry for new performances.
    2. User: If you want to Sing In E-shop , you have tu Sign Up or use default values 
    - Sign In - username: user@user.com, password: user. User only have possibility to by tickets for 
    performances.">
    <meta name="copyright" content="Tatjana Markovic" >
    <meta name="owner" content="Tatjana Markovic">
    <meta name="url" content="https://www.tatjama.github.io/e-ticket">
    <meta name="subject" content="Shopping card for performances, ballet, opera, drama and orchestra"/>
   
    <title>Korpa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../style/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../style/navigationEShop.css"/>
    <link rel="stylesheet" type="text/css" meia="screen" href="../style/shoppingCard.css"/>
    <link rel="icon" href="../images/drama6.jpg" type="image/jpg">
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>

</head>

<body onload="language()">
    <nav class="flex-row card">
        <div id="logo">
            <a href="../index.html">
                <img class="nav-img-logo" src="../images/drama6.jpg">
            </a>
        </div>
        <div class="nav-bg" >
            <a class="langTitle" key="sale" title= 'Link to sale...'  href="./eshop.html"><i class="fa fa-opencart" >  </i> E-shop </a>     
            <a id="signOut"  href="../index.html" onclick="signOutEshop('table-main')">Sign Out</a>
        </div>
    </nav>
    <div class="shoppingCard-container">
        <h1> 
            <i class="fa fa-opencart" style="font-size:48px;color:darkgoldenrod">  </i>
            <span class="lang" key="shopping-card">SHOPPING CARD</span> 
        </h1>
        <p id="thank-you-message"></p>
        <div id="ispisOpcijaFiltera"></div>

        <table id="table-main">
           <span class="lang" key="total"> TOTAL (RSD) </span>
            <input type="number" id="sum-of-buying-items" value="0" placeholder="0"  readonly>
             
            <tr id="table-of-reserved-performances">
                <th class="naziv lang" key="title"> TITLE </th>
                <th class="autor lang" key="author table"> AUTHOR </th>
                <th class="cena lang" key="price table"> PRICE </th>
                <th class ="image lang" >SLIKA</th>
                <th class="datum lang" key="date"> DATE</th>
                <th class="kolicina lang" key="stock">STOCK</th>
                <th class="vrsta lang" key="type table"> TYPE </th>
                <th class="scena lang" key="scene"> SCENE </th>
                <th class="rezervacija lang" key="qty"> KOL </th>
                <th class="obrisi-header lang" key = 'clear table'> CLEAR </th>
                <th class="iznos lang" key="amount">AMOUNT</th>
            </tr>
        </table>
        <button id="shopping-button" class="lang" key="finish" onclick="shopping()"> Finish </button>
        <button id="pay-button" class="lang" key="pay" onclick = "pay()">Pay</button>

    </div>
    <script src="../js/shoppingCard.js"></script>
    <script src="../js/multiLanguage.js"></script>
    <script src="../js/signout.js"></script>
</body>

</html>